body{
  background-color:#eee;
}
.container{
  height:1000px;
}

.row{
  height:90%;
}

.row .col.s6 {
  height:500px;
}

.row span{
  cursor: pointer;
  color:#08c;
}
i{
  cursor: pointer;
}
.like{
  color:tomato;
}

.v-enter-active{
  transition: all 0.3s
}

.v-enter {
  transform: translateY(-30px);
}

.v-enter, .v-leave-to {
  opacity: 0.1
}
